*{
    margin:0;
    padding:0;
}
body{
    background-color:rgb(255, 221, 0);
    font-family: 'Roboto', sans-serif;
   
}
header{
    height:10vh;
    background-color:rgb(243, 234, 180);
    padding-top:5vh;
}
header h1{
  
    text-align: center;
}
main{
    margin-top:1vh;
    background-color:rgb(243, 234, 180);
    padding-left:10px;
    padding-right:10px;
    padding-top:5px;
    padding-bottom:15px;

}
.odd{
    margin-top:10px;
    min-height: 120px;
    background-color: fuchsia;
    padding:5px;
}
.even{
    padding:5px;
    margin-top:10px;
    min-height: 120px;
    background-color: rgb(246, 149, 246);
}
/* for form html */
#container{
    background:#decaf5;
    margin:5%;
    border:solid #a360f0;
    padding:2%;
  }
  label{
    display:inline-block;
    width:30%;
  }

  #container p{
    padding:2px;
  }

  #responseFromServer{
    background:#b57af9;
    margin:5%;
    border:solid #781be2;
    padding:2%;
    font-size: 18px;
    color:#decaf5;
    text-transform: uppercase;
  }
  .pre-tab{
    width: 20%;
    display:inline-block;
  }